<p class="lead"> Watch list Details </p>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"> </th>
      <th scope="col"> </th>
    </tr>
   </thead>
   <tbody>
    <tr>
      <th scope="row"><%=@list.id %></th>
      <td><%= @list.name %></td>
      <td><%= link_to "Edit", edit_list_path(@list) %></td>
      <td><%= link_to "Delete",list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
    </tr>
  </tbody>
</table>

<p class="lead"> Bookmarks: </p>
<hr>
<table class="table">
 <thead>
   <tr>
      <th scope="col">@Movie</th>
      <th scope="col"></th>

</thead>
<% @list.bookmarks.each do |bookmark| %>
  <tbody>
  <td><strong>
  <%= bookmark.movie.title %></strong>
  <hr >
  <blockquote>
  <%= bookmark.movie.overview %></blockquote>
  <br>
  Comment:
  <div class="card card-body">
   <%= bookmark.comment %>
  </div>
    <td><%= link_to "Delete?", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
    <%end%>
  </tbody>
</table>
<button type="button" class="btn btn-outline-primary">
<%= link_to 'Add Bookmark?',new_list_bookmark_path(@list) %></button> |
<%= link_to "All the list", lists_path %>
