<div class="container mx-auto">
<h2 Class="lead">---Movie Details---</h2>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Details</th>
    </tr>
   </thead>
   <tbody>
    <tr>
      <th scope="row"><%=@movie.id %></th>
      <td><%= @movie.title %></td>
    </tr>
    <tr>
      <th scope="row">Overview</th>
      <td><%= @movie.overview %></td>
    </tr>
    <tr>
       <th scope="row">Poster</th>
     <td><%= @movie.poster_url %></td>
    </tr>
    <tr>
       <th scope="row">Rating</th>
     <td><%= @movie.rating %></td>
    </tr>
  </tbody>
</table>
</div>
